<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Total de doações</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>R$ {{totalDoado}}</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Animais: {{totalAnimais}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Total de animais doados: {{totalDoados}}</p>
            <p>Total de animais a doar: {{totalADoar}}</p>
        </mat-card-content>
    </mat-card>
</div>